/* TITRES */

h1 {
    font-size : 18pt;
    padding-bottom : O ;
}

h2 {
  font-size : 12pt;
}


h3 {
  padding :0;
}

h4 {
  font-size : 12pt;

}

/*LIENS*/

a {
  color: #437a16;	
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:visited {
  color: #582900;
}

/*Listes*/

ul {
  line-height: 1.5em
}


body{
padding-left: 10%;
padding-right: 10%;}


#banner{
    height: 100px;
    margin: 0;
    padding : 0;
    background : url('bannerfr.jpg') repeat-x;
    border-radius : 15px;
}

#banner2{
    height: 100px;
    margin: 0;
    padding : 0;
    background : url('banner2.png') repeat-x;
    border-radius : 15px;
}

#banner3{
    height: 100px;
    margin: 0;
    padding : 0;
    background : url('banner3.png') repeat-x;
    border-radius : 15px;
}

#banner4{
    height: 100px;
    margin: 0;
    padding : 0;
    background : url('banner4.png') repeat-x;
    border-radius : 15px;
}


#menu
{
  display: flex;
  justify-content: center;
  list-style-type: none; /*retirer les puces */
  font-size: 1.3em;

}
#menu li
{
  margin-right: 3%; /*espacer les titres du menu */
  /*list-style-type: none;  retirer les puces du menu déroulant */
}
#menu a
{
  padding-bottom: 3px;

}
#menu li.page_courante
{
  border-bottom: 3px #556B2F solid; /* souligner la page courante*/
}


.header {
    text-align : center;
    color : black;
    font-family : Georgia ;
    padding : 10px;
    margin : 10px;
}


.block_1 {
    padding-top : 0;
    border-color : #ddc3d0;
    border-width : 2px;
    border-style : solid;/* haut/bas droite/gauche */
    border-radius : 15px;/* haut-gauche bas-droite haut-droite bas-gauche */
    padding-right : 20px;
    padding-left : 20px;
    margin : 2em;
}

.block_2 {
    padding-top : 0;
    border-color : #9fcc2e;
    border-width : 2px;
    border-style : solid;/* haut/bas droite/gauche */
    border-radius :15px;/* haut-gauche bas-droitehaut-droite bas-gauche */
    padding-right : 20px;
    padding-left : 20px;
    margin : 2em;
}

.block_3 {
    padding-top : 0;
    border-color : #80391e;
    border-width : 2px;
    border-style : solid;/* haut/bas droite/gauche */
    border-radius :15px;/* haut-gauche bas-droitehaut-droite bas-gauche */
    padding-right : 20px;
    padding-left : 20px;
    margin : 2em;
}

.Enseignements {
    padding-top : 0;
    border-color : #ddc3d0;
    border-width : 2px;
    border-style : solid dashed;/* haut/bas droite/gauche */
    border-radius : 5px 15px;/* haut-gauche bas-droitehaut-droite bas-gauche */
    padding-right : 20px;
    padding-left : 20px;
    margin : 2em;
}

.contact {
    padding-top : 0;
    border-color : #80391e;
    border-width : 2px;
    border-style : solid;/* haut/bas droite/gauche */
    border-radius : 15px;/* haut-gauche bas-droitehaut-droite bas-gauche */
    padding-right : 20px;
    padding-left : 20px;
    width :400px;
    margin : 2em;
}
